<div class='hero' role='banner'>
  <img
    class='hero-logo'
    src='{{logoUrl}}'
    alt='API Boilerplate'
    width='168'
    style='color:#FFFFFF;font-size:26px;font-weight:800;letter-spacing:0.4px;'
  />
  <span class='hero-eyebrow'>{{companyTagline}}</span>
</div>
<div class='signal-band'>
  <span class='signal-cell signal-cell-active'></span>
  <span class='signal-cell'></span>
  <span class='signal-cell'></span>
  <span class='signal-cell'></span>
  <span class='signal-cell'></span>
  <span class='signal-cell'></span>
  <span class='signal-cell'></span>
  <span class='signal-cell'></span>
</div>
